# dependencies
node_modules/

# next.js
.next/
out/

# build
dist/

# env files
.env
.env*.local

# debug
npm-debug.log*

# macOS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# vercel
.vercel
